<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Joao Fernandes" %></title>
    
    <!-- Import CSS and Js -->
    <%= stylesheet_link_tag "normalize", "all" %>
		<%= stylesheet_link_tag "miniBootstrap", "timeline" %>
    <%= javascript_include_tag  "jquery-2.0.3", "scrollTo","highcharts", "chart" %>
  </head>
  
  <body class="<%= page_classes %>">
    
    <div class="container">
      
      <%= yield %>
    
    </div>
  </body>
</html>